.footer {
  background: linear-gradient(135deg, #7ca37d, #5d8660);
  color: #ffffff;
  align-items: center;

  span {
    font-size: 14px;
  }

  .developer {
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
      opacity: 0.85;
    }
  }
}